@model PsychologyCenter.VwModels.VwBlog

@{
    PsychologyCenter.Models.Setting setting = ViewBag.Setting as PsychologyCenter.Models.Setting;
}



<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Medinova - Health & Medical HTML Template" />
    <meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
    <meta name="author" content="ThemeMascot" />

    <!-- Page Title -->
    <title>Medinova - Health & Medical HTML Template</title>

    <!-- Favicon and Touch Icons -->
    <link href="~/Public/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="~/Public/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/Public/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/Public/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/Public/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="~/Public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Public/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Public/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Public/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="~/Public/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="~/Public/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="~/Public/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="~/Public/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="~/Public/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- CSS | Theme Color -->
    <link href="~/Public/css/colors/theme-skin-blue.css" rel="stylesheet" type="text/css">

    <!-- external javascripts -->
    <script src="~/Public/js/jquery-2.2.0.min.js"></script>
    <script src="~/Public/js/jquery-ui.min.js"></script>
    <script src="~/Public/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="~/Public/js/jquery-plugin-collection.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">
    <div id="wrapper">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <img src="~/Public/images/Preloader_3.gif" alt="">
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>
        <!-- Start main-content -->
        <div class="main-content">
            <!-- Section: inner-header -->
            <section class="inner-header divider layer-overlay overlay-deep" data-bg-img="http://placehold.it/1920x1280">
                <div class="container pt-90 pb-50">
                    <!-- Section Content -->
                    <div class="section-content">
                        <div class="row">
                            <div class="col-sm-6 col-md-8 xs-text-center meqale">
                                <h3 class="font-28">Məqalələr</h3>
                            </div>

                            <div class="col-sm-6 col-md-4">
                                <ol class="breadcrumb white bread_ol">
                                    <li><a href="@Url.Action("index","home")" style="font-size: 25px;">Ana səhifə</a></li>
                                </ol>
                            </div>
                        </div>  
                    </div>
                </div>
            </section>

            <!-- Section: Blog -->
            <section>
                <div class="container mt-30 mb-30 pt-30 pb-30">
                    <div class="row blog-posts">
                        <div class="col-md-9">
                            @{
                                Html.RenderPartial("~/Views/Blog/PartialBlog.cshtml", Model.Blogs);
                            }
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="sidebar sidebar-right mt-sm-30">
                                <div class="widget">
                                    <h5 class="widget-title line-bottom">Kategoriya</h5>
                                    <div class="categories">
                                        <ul class="list list-border angle-double-right">
                                            @foreach (var cat in Model.Categories)
                                            {
                                                <li><a href="@Url.Action("index","blog", new {category = cat.Id })">@cat.Name<span>@*@Model.Blogs.Where(b=>b.BlogCategoryId==cat.Id).Count()*@</span></a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 next-page load-more-blog mt-30" style="text-align:center" data-page="2">
                        <a class="btn btn-lg btn-dark btn-theme-colored" href="#">Daha çox</a>
                    </div>

                </div>
            </section>
        </div>
        <!-- end main-content -->
        <!-- Footer -->
        <!-- Footer -->
        <footer id="footer" class="footer pb-0" data-bg-img="Public/images/footer-bg.png" data-bg-color="#25272e">
            <div class="container pb-20">
                <div class="row multi-row-clearfix">
                    <div class="col-sm-6 col-md-4">
                        <div class="widget dark">
                            <img alt="" src="~/Public/images/logo-wide-white.png">
                            <p class="font-12 mt-20 mb-10">Medinova is a library of Crowdfunding and Medinova templates with predefined elements which helps you to build your own site. Lorem ipsum dolor sit amet consectetur.</p>
                            <ul class="social-icons icon-dark mt-20">
                                <li><a href="@setting.Facebook" data-bg-color="#3B5998"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="@setting.Instagram" data-bg-color="#FB3958 "><i class="fa fa-instagram"></i></a></li>
                                <li><a href="@setting.Youtube" data-bg-color="#C22E2A"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="widget dark">
                            <h5 class="widget-title line-bottom">Latest News</h5>
                            <div class="latest-posts">
                                @foreach (var blogs in Model.Blogs.OrderByDescending(b => b.Date).Take(3))
                                {
                                    <article class="post media-post clearfix pb-0 mb-10">
                                        <a class="post-thumb" style="max-width:30%" href="#"><img src="~/Uploads/@blogs.TitlePhoto" alt="~/Uploads/@blogs.TitlePhoto"></a>
                                        <div class="post-right">
                                            <h5 class="post-title mt-0 mb-5"><a href="#">@blogs.Title</a></h5>
                                            <p class="post-date mb-0 font-12">@blogs.Date.ToString("dd/MM/yyyy")</p>
                                        </div>
                                    </article>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="widget dark">
                            <h5 class="widget-title line-bottom">Quick Contact</h5>
                            <ul class="list list-border">
                                <li><a>@setting.Phone</li>
                                <li><a>@setting.Email</a></li>
                                <li><a href="#" class="lineheight-20">@setting.Adress</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid bg-theme-colored p-20">
                <div class="row text-center">
                    <div class="col-md-12">
                        <p class="text-white font-11 m-0">Copyright &copy;2015 ThemeMascot. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->
    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="~/Public/js/custom.js"></script>

</body>
</html>