@using System.Globalization
@model IEnumerable<PsychologyCenter.Models.Blog>
@{
    var culture = CultureInfo.CurrentUICulture = new CultureInfo("az-AZ");
}


@foreach (var blog in Model)
{

    <div class="col-sm-12 col-md-6 col-lg-6">
        <article class="post style1 clearfix maxwidth500">
            <div class="col-md-12 p-0">
                <div class="entry-header">
                    <div class="post-thumb">
                        <img src="~/Uploads/@blog.TitlePhoto" alt="@blog.Title" class="img-responsive img-fullwidth">
                    </div>
                    <div class="entry-date entry-date-absolute">
                        @blog.Date.Day <span>@blog.Date.ToString("MMMM", culture)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 p-0">
                <div class="entry-content pl-50 p-20 pt-30 pr-20">
                    <h5 class="entry-title pt-0"><a href="@Url.Action("read","blog", new {Slug= blog.Slug}) ">@blog.Title</a></h5>
                    <p>@Html.Raw(blog.MinAbout)</p>
                    <div class="entry-meta pull-left flip mt-10">
                        <input type="hidden" class="BlogID" value="@blog.Id" />
                        <ul class="list-inline">
                            <li>
                                <i class="fa fa-thumbs-o-up mr-5"></i>
                                @if (blog.Likes != null)
                                {
                                    @blog.Likes.Count()
                                }
                                else
                                {
                                    @:0
                                }

                            </li>
                            <li>
                                <i class="fa fa-comments-o mr-5"></i>
                                @if (blog.Comments.FirstOrDefault(w => w.BlogId == blog.Id) != null)
                                {
                                    @blog.Comments.Where(w => w.BlogId == blog.Id && w.IsActive==true).Count()
                                }
                                else
                                {
                                    @:0
                                }
                            </li>
                            <li>
                                <i class="far fa-eye mr-5"></i>
                                @if (blog.ReadCounts != null)
                                {
                                    @blog.ReadCounts.Where(r => r.BlogId == blog.Id).Count()
                                }
                                else
                                {
                                    @:0
                                }
                            </li>
                        </ul>
                    </div>
                    <a class="readCount text-theme-colored mt-10 mb-0 pull-right flip" style="background-color:transparent;border-color:transparent" href="@Url.Action("read","blog", new {Slug= blog.Slug})">Ətraflı <i class="fa fa-angle-double-right"></i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </article>
    </div>

}
<div class="append-area">
</div>

