@model IEnumerable<PsychologyCenter.Models.Comment>

@{
    ViewBag.Title = "Rəylər";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Blog.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Blog.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            <a class="mr-2" href="@Url.Action("edit", new { id=item.Id })">
                <i class="fas fa-edit"></i>
            </a>
            <a class="text-danger" href="@Url.Action("delete", new { id=item.Id })">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
