@model IEnumerable<PsychologyCenter.Areas.Manage.Models.Admin>

@{
    ViewBag.Title = "Admin";
}


<p>
    @Html.ActionLink("Yeni admin yarat", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <a class="mr-2" href="@Url.Action("edit", new { id=item.Id })">
                <i class="fas fa-edit"></i>
            </a>
            <a class="text-danger" href="@Url.Action("delete", new { id=item.Id })">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
