@model IEnumerable<PsychologyCenter.Models.Service>

@{
    ViewBag.Title = "Xidmətlər";
}


<p>
    @Html.ActionLink("Əlavə Et", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Adı
        </th>
        <th>
            Qısa mətn
        </th>
        <th>
            Sıra
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderBy)
        </td>
        <td>
            <a class="mr-2" href="@Url.Action("edit", new { id=item.Id })">
                <i class="fas fa-edit"></i>
            </a>
            <a class="text-danger" href="@Url.Action("delete", new { id=item.Id })">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
